%table.weather_table
  %tr
    %th
    %th MPH
    %th
    %th Reported
  - @observations.each do |observation|
    %tr
      %td
        = observation.station_name.to_s.humanize.titleize
      %td.wind_speed
        #{observation.speed.round(0)} - #{observation.gust.round(0)}
      %td.compass
        #{observation.compass_direction}
      %td.ago
        #{format_ago_string(distance_of_time_in_words(observation.observation_time, Time.now.utc))}