%table
  %tr
    %th
    %th speed
    %th gust
    %th direction
    %th time
  - @observations.each do |observation|
    %tr
      %td= observation.station_name.to_s.humanize.titleize
      %td= observation.speed
      %td= observation.gust
      %td= observation.direction
      %td= distance_of_time_in_words(observation.observation_time, Time.now.utc).short

-# TODO: might shorten the distance words. See: https://apidock.com/rails/ActionView/Helpers/DateHelper/distance_of_time_in_words
