-#force links to open in parent not iframe
%base{target: '_blank'}

%table.weather_table
  %tr
    %th
    %th MPH
    %th
    %th Age
  - @observations.each do |observation|
    - wind_class = observation.west_gust_component > 0.1 ? 'warning' : 'normal'
    %tr
      %td.title
        %a{href: "https://mesowest.utah.edu/cgi-bin/droman/meso_base.cgi?stn=#{observation.station_id}"}
          = observation.station_name.to_s.humanize.titleize
      %td.wind_speed{class: "#{wind_class}"}
        #{observation.speed.round(0)} - #{observation.gust.round(0)}
      %td.compass{class: "#{wind_class}"}
        #{observation.compass_direction}
      %td.ago
        #{format_ago_string(distance_of_time_in_words(observation.observation_time, Time.now.utc))}