%table.weather_table
  %tr
    %th
    %th MPH
    %th
    %th Reported
  - @observations.each do |observation|
    - wind_class = observation.west_gust_component > 5.0 ? 'warning' : 'normal'
    %tr
      %td
        = observation.station_name.to_s.humanize.titleize
      %td.wind_speed{class: "#{wind_class}"}
        #{observation.speed.round(0)} - #{observation.gust.round(0)}
      %td.compass{class: "#{wind_class}"}
        #{observation.compass_direction}
      %td.ago
        #{format_ago_string(distance_of_time_in_words(observation.observation_time, Time.now.utc))}