-#force links to open in parent not iframe
%base{target: '_blank'}

%table.weather_table
  %tr
    %th Wind Station
    %th Location
    %th MPH
    %th
    %th Age
  - @observations.each do |observation|
    - wind_class = observation.west_gust_component > 0.1 ? 'warning' : 'normal'
    - station_data = DisplayWeatherStation.station_data(observation.station_name.to_sym)
    %tr
      %td.station
        %a{href: "https://mesowest.utah.edu/cgi-bin/droman/meso_base.cgi?stn=#{observation.station_id}"}
          = observation.station_name.to_s.humanize.titleize
      %td.subtle
        %a{href: "http://maps.google.com/maps?t=k&q=loc:#{station_data[:latitude]}+#{station_data[:longitude]}"}
          = station_data[:location]
      %td.wind_speed{class: "#{wind_class}"}
        #{observation.speed.round(0)} - #{observation.gust.round(0)}
      %td.compass{class: "#{wind_class}"}
        #{observation.compass_direction}
      %td.subtle
        = distance_of_time_in_words_minutes(observation.observation_time, Time.now.utc)